:root{
  --primary: #003772 !important;
}

.msg-success{
  background-color: var(--primary);
}

/* Contribuinte */
.overlay-contribuinte {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(49, 49, 49, 0.479);
  z-index: 99999;
}

.contribuinte-add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 360px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 70px;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(51, 51, 51, 0.233);
}

.contribuinte-add-form h2 {
  padding: 20px 0px 10px 0px;
  font-size: 32px;
  text-align: center;
}

.contribuinte-add-form input {
  width: 310px;
  height: 40px;
  margin: 0px 15px 10px 15px;
  padding-left: 10px;
  border: 1px solid rgba(34, 34, 34, 0.205);
  box-shadow: 0 1px 2px 0 rgba(82, 82, 82, 0.521);
}

.button-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.button-row button {
  width: 100px;
  height: 40px;
  margin: 0px 10px 0px 10px;
}

.btn-save {
  background-color: #0878f0;
  font-weight: bold;
  color: white;
  border: none;
}

.btn-cancel {
  background-color: white;
  color: rgb(0, 140, 255);
  border: 1px solid rgb(143, 143, 143);
}